<section class="container">
    <h1>Hello</h1>
    {{#each posts}}
    <h3 class ="blogpost-name">{{name}}</h3>
    <p class="blogpost-content">{{content}}</p>
    <p class="blogpost-date">{{date}}</p>
    {{/each}}
</section>