<div id="author-area">
    {{#if logged_in}}
    {{#each authors as |author|}}
    <div class="card author-card" style="width: 18rem;">
        <div>
            <img src="/photos/author_avatar.jpg" alt="Author Avatar" id="author-avatar">
            <h5 class="card-title">{{author.name}}</h5>
            <p>{{author.bio}}</p>
            <a href="/author/{{author.id}}" class="view-profile">View Profile</a>
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>
<div class="sign-up-area">
    <h2>Add New Author</h2>

    <form class="new-author-form">
        <div class="new-author">
            <div class="author-name">
                <label for="name-signup">Name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="author-bio">
                <label for="bio-signup">Bio:</label>
                <textarea class="form-input" id="bio-signup"></textarea>
            </div>
        </div>
    </form>
    <button class="btn" type="submit">Add</button>
</div>
<script src="./js/newAuthor.js"></script>
